name: Test API FastAPI

on:
  push:
    branches: [API]
  pull_request:
    branches: [API]
  workflow_dispatch:

jobs:
  test-api:
    runs-on: ubuntu-latest

    env:
      DATABASE_URL: ${{ secrets.linkbd }}

    steps:
      - name: Clonar repositorio
        uses: actions/checkout@v3

      - name: Instalar Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.11

      - name: Instalar dependencias
        run: |
          python -m pip install --upgrade pip
          pip install fastapi uvicorn requests tensorflow pillow psycopg2 supabase python-multipart

      - name: Iniciar FastAPI y correr prueba
        run: |
          echo "游 Iniciando FastAPI..."
          uvicorn main:app --host 127.0.0.1 --port 8000 &
          sleep 5

          echo "registrar usuario"
          curl -X POST "http://127.0.0.1:8000/crear_usuario?nombre=Oscar&correo=oscar@firma.com&contrase침a=clave123&tipo=admin"
          -H "Content-Type: application/json"

          echo "Login con el usuario"
          LOGIN_RESPONSE=$(curl -X POST "http://127.0.0.1:8000/login?correo=oscar@firma.com&contrase침a=clave123" /
          -H "Content-Type: application/json")

          if echo "$LOGIN_RESPONSE" | grep -q '"access_token"'; then
            echo "Usuario logeado correctamente"
          else
            echo "Error al iniciar sesi칩n"
            exit 1 
          fi
          
          echo "Subiendo imagen para hacer predicci칩n..."
          curl -X POST "http://127.0.0.1:8000/predict/image/" \
            -H "accept: application/json" \
            -H "Content-Type: multipart/form-data" \
            -F "archivo=@prueba.png"  

      - name: Pruebas terminadas
        run: echo "Usuario creado correctamente"
